{% extends 'base.html' %}
{% load humanize %}
{% block content %}

<br>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col">Employee</th>
        <th scope="col">Start</th>
        <th scope="col">Stop</th>
        <th scope="col">Rate</th>
        <th scope="col">Total time</th>
        <th scope="col">Total amount</th>
      </tr>
    </thead>
    <tbody>
      {% for track in time_tracker %}
        <tr>
          <th scope="row">{{ track.id }}</th>
          <td>{{ track.contact_name }}</td>
          <td>{{ track.user_name }}</td>
          <td>{{ track.start_time }}</td>
          <td>{{ track.stop_time }}</td>
          <td>{{ track.rate }}</td>
          <td>{{ track.total_time }}</td>
          <td>{{ track.get_total_amount | intcomma }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


{% endblock %}
